<button class="class" (click)="navigateToHome()" value="toHome">retour a la page d'accueil</button>
<div class="infos">
  <div class="contenu">
    <p>{{user?.login}}</p>
    <p>{{user?.type}}</p>
    <p>{{user?.company}}</p>
    <p>{{user?.location}}</p>
  </div>
  <div class="image">
    <img src="{{user?.avatar_url}}" width="100%">
  </div>
</div>
<p style="text-align:center">{{user?.bio}}</p>

<button class="selecteurs" (click)="navigateToRepos()" value="toRepos">Repository</button>
<button class="selecteurs" (click)="navigateToFollowers()" value="toFolowers">Followers</button>
<router-outlet></router-outlet>